<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
{{#if animalType}}

<p>Animal Type: {{animalType}}</p>
<p>Is it a pet?: {{pet}}</p>
<p>Fierceness: {{fierceness}}</p>

{{/if}}

<h1>{{error}}</h1>